<div class="ui five column grid">
  <div class="stretched row">

    <!-- 1. Station -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            <!-- ICON for Release 2 -->
          </div>
        </div>
        <p><span class="ui large text"><strong>{{station.name}}</strong></span></p>
        <!-- LAT/LONG for Release 2 -->
      </div>
    </div>

    <!-- 2. Weather -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            <!-- ICON for Release 2 -->
          </div>
        </div>
        <p><span class="ui large text"><strong>Weather</strong></span></p>
        <p>{{#if station.latestReading.weatherText}}{{station.latestReading.weatherText}}{{else}}<em>No readings</em>{{/if}}</p>
      </div>
    </div>

    <!-- 3. Temperature -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            <!-- ICON for Release 2 -->
          </div>
        </div>
        <p><span class="ui large text"><strong>Temperature</strong></span></p>
        <p>{{#if station.latestReading.tempC}}{{station.latestReading.tempC}}째C / {{station.latestReading.tempF}}째F{{else}}<em>No readings</em>{{/if}}</p>
        <!-- MIN/MAX for Release 2 -->
      </div>
    </div>

    <!-- 4. Wind -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            <!-- ICON for Release 2 -->
          </div>
        </div>
        <p><span class="ui large text"><strong>Wind</strong></span></p>
        <p>{{#if station.latestReading.windBft}}{{station.latestReading.windBft}} bft<br>{{station.latestReading.windCompass}}<br>Feels like {{station.latestReading.windChillC}}째C / {{station.latestReading.windChillF}}째F{{else}}<em>No readings</em>{{/if}}</p>
        <!-- MIN/MAX for Release 2 -->
      </div>
    </div>

    <!-- 5. Pressure -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            <!-- ICON for Release 2 -->
          </div>
        </div>
        <p><span class="ui large text"><strong>Pressure</strong></span></p>
        <p>{{#if station.latestReading.pressure}}{{station.latestReading.pressure}} hPa{{else}}<em>No readings</em>{{/if}}</p>
        <!-- MIN/MAX for Release 2 -->
      </div>
    </div>
  </div>
</div>