<div class="ui five column grid">
  <div class="stretched row">

    <!-- 1. Station -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            <i class="big blue compass outline icon"></i>
          </div>
        </div>
        <p><span class="ui large text"><strong>{{name}}{{station.name}}</strong></span></p>
        <p>Lat: {{latitude}}{{station.latitude}}°<br>Long: {{longitude}}{{station.longitude}}°</p>
      </div>
    </div>

    <!-- 2. Weather -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            {{#if latestReadings}}<i class="{{latestReadings.weatherIcon}}"></i>{{else}}<i class="big olive umbrella icon"></i>{{/if}}
          </div>
        </div>
        <p><span class="ui large text"><strong>Weather</strong></span></p>
        <p>{{#if latestReadings}}{{latestReadings.weatherText}}{{else}}<em>No readings</em>{{/if}}</p>
      </div>
    </div>

    <!-- 3. Temperature -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            {{#if trends}}<i class="{{trends.temperature}}"></i>{{/if}}
            <i class="big orange temperature low icon"></i>
          </div>
        </div>
        <p><span class="ui large text"><strong>Temperature</strong></span></p>
        <p>{{#if latestReadings}}{{latestReadings.tempC}}°C ({{latestReadings.tempF}}°F){{else}}<em>No readings</em>{{/if}}</p>
        <p>{{#if maxReadings.tempC}}Max {{maxReadings.tempC}}°C ({{maxReadings.tempF}}°F)<br>Min {{minReadings.tempC}}°C ({{minReadings.tempF}}°F){{/if}}</p>
      </div>
    </div>

    <!-- 4. Wind -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            {{#if trends}}<i class="{{trends.windSpeed}}"></i>{{/if}}
            <i class="big teal wind icon"></i>
          </div>
        </div>
        <p><span class="ui large text"><strong>Wind</strong></span></p>
        <p>{{#if latestReadings}}{{latestReadings.windBft}} bft ({{latestReadings.windSpeed}} km/h)<br>{{latestReadings.windCompass}}<br>Feels like {{latestReadings.windChillC}}°C ({{latestReadings.windChillF}}°F){{else}}<em>No readings</em>{{/if}}</p>
        <p>{{#if maxReadings.windBft}}Max {{maxReadings.windBft}} bft ({{maxReadings.windSpeed}} km/h)<br>Min {{minReadings.windBft}} bft ({{minReadings.windSpeed}} km/h){{/if}}</p>
      </div>
    </div>

    <!-- 5. Pressure -->
    <div class="column">
      <div class="ui inverted segment">
        <div class="ui grid">
          <div class="right aligned column">
            {{#if trends}}<i class="{{trends.pressure}}"></i>{{/if}}
            <i class="big purple compress arrows alternate icon"></i>
          </div>
        </div>
        <p><span class="ui large text"><strong>Pressure</strong></span></p>
        <p>{{#if latestReadings}}{{latestReadings.pressure}} hPa{{else}}<em>No readings</em>{{/if}}</p>
        <p>{{#if maxReadings.pressure}}Max {{maxReadings.pressure}} hPa<br>Min {{minReadings.pressure}} hPa{{/if}}</p>
      </div>
    </div>
  </div>
</div>